{% apply inline_css %}

<div class="card">
  <div class="card-header">
    Hallo Abud 
  </div>
  <div class="card-body">
    <h5 class="card-title">{{yourName}}</h5>
    <p class="card-text">{{messege}}</p>
  </div>
</div>

{% endapply %}

